<label for='title'>Title:</label><br>
<input type='text' id='title' name='list[title]'>
<br>
<label for='ord'>Ord:</label><br>
<input type='text' id='ord' name='list[ord]'>
<br>
<button class='create-list'>Submit</button>
